body{
   background-color: rgb(54, 142, 142);
}
.container{
   display: flex;
   justify-content: center;
}
h1, h2, p{
   color: white;
   margin-top:0;
}
.description{
font-size: 18px;
margin-left: 40px;
margin-right: 40px;
margin-top: 5px;
}
.btn{
   display: flex;
   justify-content: space-evenly;
}
button{
   padding: 10px;
   width: 200px;
   color: white;
   background-color: rgb(54, 142, 142);
   border: 1px solid white;
   margin-bottom: 2px;
   font-size: 15px;
}
.btnshow{
   background-color: rgb(54, 142, 142);
   border: none;
   text-decoration: underline;
}
.education{
   margin-top: 20px;
}